html, body{
    margin: 0;
    padding: 0;
}
.FixedContainer {
    width: 1920px;
    margin: 0 auto;
    position: relative;
}
#menu{
    height: 100px;
}

.Menu_bar{
    float: left;
    margin-left: 375px;
    padding-top: 40px;
}

.Menu_bar a{
    padding: 0 35px 0 0;
}
.Menu_bar button{
    border-bottom-color: crimson;
    border-bottom: 2px;
    background-color: white;
}
#menu_bar_contacts{
    float: right;
    margin: 0 375px 0 0;
}
