html, body{
    margin: 0;
    padding: 0;
    min-width: 1210px;
    font-family: Roboto;
}
.FixedContainer {
    width: 1170px;
    margin: 0 auto;
    position: relative;
}
.FixedContainerAbsolute {
    max-width: 1900px;
    width: 100%;
    margin: 0;
    position: absolute;
}
.central_container_block_grey{
    height: 680px;
    background-color: #fbfbfb;
    overflow:hidden;
    margin: 0 0 0 auto;
    max-width: 100%;
}

.central_container_block_white{
    height: 647px;
    background-color: rgba(255, 255, 255, 0.99);
}
#name_item_text{
    font-size: 55px;
    font-weight: 900;
    margin: 200px 0 0 0;
    padding: 0;
}
#skills_item_text{
    padding: 0;
    color: #8993ad;
    font-size: 25px;
    margin: 20px 0 0 0;
}
#skills_item_text2{
    padding-top: 30px;
    color: #8993ad;
    font-size: 20px;
    font-family: Roboto;
    font-weight: normal;

    /*margin: 20px 0 0 0;*/
}
#coast_button{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
#more_button{
    margin: 30px 0 0 0;
}
.item_button button{
    font-size: 18px;
    color: white;
    background-color: #ff4e2e;
    width: 270px;
    height: 60px;

    border: 0;
}
#menu{
    height: 100px;
    background-color: #fbfbfb;
}

.Menu_bar{
    /*padding-left: 375px;*/
    float: left;
    /*margin-left: 375px;*/
    padding-top: 40px;
    width: 350px;
}

.Menu_bar a{
    padding: 0 35px 0 0;
    text-decoration: none;
    color: black;
    font-family: Roboto;
    font-size: 16px;
}
/*Посещенная ссылка*/
.Menu_bar a:visited{
    text-decoration: none;
}
/*При наведении*/
.Menu_bar a:hover{
    color: black;
}
/*При клике на ссылку*/
.Menu_bar a:active{
    color: crimson;
}
.Menu_bar a:nth-child(2){
    color: #d86380;
    text-decoration: underline;
}

#contact_button{
    width: 207px;
    height: 45px;
    background-color: white;
    margin-left: 30px;
    font-size: 16px;
    color: #d86380;
    border: 2px solid #d86380;
    border-radius: 10px;
}
#menu_bar_contacts b{
    font-weight: 700;
    font-size: 25px;
}
#menu_bar_contacts{
    float: right;
    padding-top: 32px;
    text-align: center;
}
#left_column{
    position: relative;
    float: left;
    width: 500px;
    height: 680px;
    margin: 0 auto;
}
#right_column{
    position: relative;
    float: right;
    width: 500px;
    height: 680px;
    margin: 0 auto;
}
#lleft_column{
    float: left;
    position: relative;
    width: 40%;
    max-width: 365px;
    min-width: 2px;
    height: 680px;
    background-color: #98b195;
}
#rright_column{
    float: right;
    position: relative;
    width: 40%;
    max-width: 305px;
    min-width: 2px;
    height: 680px;
    background-color: #98b195;
    margin: 0 auto;
    right: 0;
    left: 0;
    outline: 1px solid red;
}
#skills{
    width: 1170px;
    margin-top: 90px;
}
.central_container_block_grey .FixedContainer{
    /*overflow-y: hidden;*/
}
.central_container_block_grey svg{
    float: right;
    position: relative;
}
#right_column img{
    position: absolute;
    bottom: 0;
    /*box-shadow: 0 0 10px rgba(0,0,0,0.5); !* Параметры тени *!*/
}
.CenterColumnTitle{
    font-size: 54px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
}

.colourIcon{
    display: flex;
    justify-content: space-around;
}
.colourIcon i{
    text-align: center;
}


@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-300.eot'); /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto-Light'),
    url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-500.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-900.eot'); /* IE9 Compat Modes */
    src: local('Roboto Black'), local('Roboto-Black'),
    url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-900.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-900.svg#Roboto') format('svg'); /* Legacy iOS */
}


.Ellipse_1 {
    background-image: -moz-linear-gradient( 77deg, rgb(255,143,90) 0%, rgb(255,47,150) 99%);
    background-image: -webkit-linear-gradient( 77deg, rgb(255,143,90) 0%, rgb(255,47,150) 99%);
    background-image: -ms-linear-gradient( 77deg, rgb(255,143,90) 0%, rgb(255,47,150) 99%);
    position: relative;
    left: 5px;
    top: 18px;
    width: 1220px;
    height: 631px;
    z-index: 99;
    display: block;
    -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
    border-radius: 30% 50% 90% 50% / 60% 60% 40% 40%;
}
